.spamassassinboxenable
public_html.orig/
.spamassassin/
.spamassassinenable
public_html/wp-content/uploads/GeoLite2-Country.mmdb
.sqmaildata/
public_html/wp-content/cache/
.aws/
.mysql_history
README.md
access-logs
www
etc/
logs/
mail/
maintenance/
perl5/
public_ftp/
ssl/
tmp/
.bash_history
cpbackup-exclude.conf
public_html.original/
.lastlogin
.softaculous/
.bash_logout
.bash_profile
.bashrc
.cache/
.contactemail
.cpanel/
.cphorde/
.gemrc
.gitconfig
.viminfo
public_html/*.log
public_html/wp-content/advanced-cache.php
public_html/wp-content/backup-db/
public_html/wp-content/backups/
public_html/wp-content/blogs.dir/
public_html/wp-content/upgrade/
public_html/wp-content/wp-cache-config.php
public_html/wp-content/plugins/hello.php
public_html/wp-content/uploads/siteorigin-widgets/
public_html/license.txt
public_html/readme.html
public_html/sitemap.xml
public_html/sitemap.xml.gz
public_html/wp-content/uploads/wc-logs/
public_html/wp-content/uploads/GeoLite2-Country.mmdb
public_html/wp-config.php

